<html>
	<head>
		<title>ScholarBucks App</title>
		<link rel = "stylesheet" type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel = "stylesheet" type = "text/css" href = "/stylesheets/app.css">
		</head>
	<body>
		<div class = "ui fixed inverted menu">
			<div class = "ui container">
				<div class = "header item"><i class="lightbulb outline icon"></i>ScholarBucks Store</div>
				<a href="/" class="item">Home</a>

</div>
			</div>

<!-- <html>
	<head>
		<title>ScholarBucks App</title>
		<link rel = "stylesheet" type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel = "stylesheet" type = "text/css" href = "./stylesheets/app.css">
		</head>
</html> 
 <body> -->
<div id = "adminlogin" class="ui text container">
	
	<div class="ui segment">
	
  <div class="ui two column very relaxed grid">
    <div class="column">
    <form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Login</button>
</form>

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>
	 </div>
    <div class="column">
		Register Here
    </div>
  </div>
  <div class="ui vertical divider">
    or
	  
  </div>
		
</div>
	
</div>