<% include ./partials/header %>

<div id = "body" class = "ui container">
	<h1>
		Welcome ScholarBucks Administrators 
	</h1>
	<div class="ui placeholder segment">
  <div class="ui icon header">
    <i class="users icon"></i>
    Student Pages
  </div>
  <div class="inline">
    <a class="ui primary button" href="https://testjerald.run.goorm.io/students">View Student Roster</a>
    <a class="ui button" href="https://testjerald.run.goorm.io/students/new">Add New Student</a>
  </div>
</div>
	<div class="ui placeholder segment">
  <div class="ui icon header">
    
	  <i class="gift icon"></i>
    Prize Pages
  </div>
  <div class="inline">
	<a class="ui primary button" href="https://testjerald.run.goorm.io/prizes">View Prize Grid</a>
    <a class="ui button" href="https://testjerald.run.goorm.io/prizes/new">Add ScholarBucks Prize</a>
    
  </div>
</div>
	</div>
	

<% include ./partials/footer %>