
<html>
	<head>
		<title>ScholarBucks App</title>
		<link rel = "stylesheet" type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<!-- <link rel = "stylesheet" type = "text/css" href = "stylesheets/app.css"> -->
		<link rel = "stylesheet" type = "text/css" href = "stylesheets/inno.scss">
		<link href="https://fonts.googleapis.com/css?family=Irish+Grover&display=swap" rel="stylesheet">
		<style>
@import url('https://fonts.googleapis.com/css?family=Glass+Antiqua|Gruppo|Happy+Monkey|Irish+Grover|Monofett|Raleway|Sulphur+Point:300&display=swap');
</style>
		</head>
</html>
<body> 
	

Following Menu -->
<div class="ui large top fixed menu">
  <div id = "logospace" class="ui container">
	 <img src="./stylesheets/InnovativeLogo.png" alt="Logo" width="350" height="84">

	  
	   <div class="right menu">
		  <a href = "/"  class="item">Home</a>
	   <div class="ui simple dropdown link item">
    	<span class="text">About</span>
   	    <i class="dropdown icon"></i>
    <div class="menu">
    <a href = "/innovativescholars"  class="item">Innovative Scholars</a>
    <a href = "/scholarbuckspage"  class="item">ScholarBucks Store</a>
    <a href = "/resources"  class="item">Resources</a>
     
    </div>
  </div>
 
</div>
	  
		
		
      
        <a href="/login" class="item">Log in</a>
		 
     
     
        <a href="/register" class="item">Sign Up</a>
     
    </div>
  </div>
	
	  <div id = "twoinno" class="ui container">
	
	 
	<section>
		<img class="squitem" src="./stylesheets/SqLogo.jpg" alt="Logo" >
		
		<h1>Innovative<span style = "color: #5F3813;"> Scholars</span></h1><br> 
		    <p>
				We bring Solutions that raise Student Achievement
		</p>
		
	</section>	
	<section>
		<img class="squitem" src="./stylesheets/kids.jpg" alt="kids">
		<h2>We partner with non-public schools in Chicago to implement blended learning solutions that effectively improve academic performance in struggling students. </h2>
		
	</section>	
	<section>
		<img class="squitem" src="./stylesheets/classR.jpg" alt="class">
			<h2>Our mission is to help create more equitable learning opportunities for students by empowering educators and helping students reach their maximum potential socially, emotionally and academically. </h2>
	
	
	</section>	

	</div> 
	
	<div id = "secondreso" class="ui inverted vertical masthead center aligned segment"> 
	<div class="ui text container">
		 <!-- <img src="stylesheets/InnovativeLogo.png" alt="Logo" width="200" height="49"> -->
		<h1 id = "secondtext" style="text-align:center; font-size: 4em">Growth Mindset</h1>
      <p id = "secondtext"class="ui inverted header">
		  
<em>"You are in charge of your mind. <br>You can help it grow by using it the <b><u>
	
	right</u></b> way."</em>
      </p>
     
    </div>

  </div>
	
	
	
 

 	 <div class="ui inverted vertical footer segment">
    <div class="ui container">
		
		<div class="ui grid">
  <div class="three column row">
    
    <div class="column" style = "text-align:left"><img src="./stylesheets/InnoSchwhite.png" alt="Logo" width="200" height="49"></div>
	  <div class="column" style = "text-align:center"></div>
    <div class="column" style = "text-align:right"><img src="./stylesheets/CPS logo.png" alt="Logo" width="75" height="72"></div>
  </div>
			
			<div class="three column row">
    
    <div class="column" style = "text-align:left"></div>
	  <div class="column" style = "text-align:center">Innovative Scholars ScholarBucks Store &copy; 2020</div>
    <div class="column" style = "text-align:right"></div>
  </div>
	
      </div>
    </div>
  </div>

 	 <script> 
     $(document).ready(function(){
          $('.ui.dropdown') .dropdown();
    });
    </script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.semanticui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
<script>
$(document).ready(function() {
    $('#studenttable').DataTable();
} );
</script>



</body>
</html>