
<html>
	<head>
		<title>ScholarBucks App</title>
		<link rel = "stylesheet" type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<!-- <link rel = "stylesheet" type = "text/css" href = "stylesheets/app.css"> -->
		<link rel = "stylesheet" type = "text/css" href = "stylesheets/inno.scss">
		<link href="https://fonts.googleapis.com/css?family=Irish+Grover&display=swap" rel="stylesheet">
		<style>
@import url('https://fonts.googleapis.com/css?family=Glass+Antiqua|Gruppo|Happy+Monkey|Irish+Grover|Monofett|Raleway|Sulphur+Point:300&display=swap');
</style>
		</head>
</html>
<body> 
	

Following Menu -->
<div class="ui large top fixed menu">
  <div id = "logospace" class="ui container">
	 <img src="./stylesheets/InnovativeLogo.png" alt="Logo" width="350" height="84">

	  
	   <div class="right menu">
		  <a href = "/"  class="item">Home</a>
	   <div class="ui simple dropdown link item">
    	<span class="text">About</span>
   	    <i class="dropdown icon"></i>
    <div class="menu">
    <a href = "/innovativescholars"  class="item">Innovative Scholars</a>
    <a href = "#"  class="item">ScholarBucks Store</a>
    <a href = "/resources"  class="item">Resources</a>
     
    </div>
  </div>
 
</div>
	  
		
		
      
        <a href="/login" class="item">Log in</a>
		 
     
     
        <a href="/register" class="item">Sign Up</a>
     
    </div>
  </div>
	<!-- Section TWO -->
	
 <!-- <div id = "logospace" class="ui container"> -->
	  <div id = "two" class="ui container">
	
	 
	<section>
		<img class="squitem" src="./stylesheets/SqLogo.jpg" alt="Logo" width="400" height="400">
		<h1 style = "text-align: center; font-size: 1.7em;"><span style = "font-size: 2.5em;">Innovative</span>  <span style = "color: #5F3813; font-size: 2.5em;"> Scholars</span><br> We bring Solutions that raise Student Achievement</h1>
		
	</section>	
	<section>
		<img class="squitem" src="./stylesheets/kids.jpg" alt="Logo" width="400" height="400">
		<h1 style = "text-align: center; font-size: 1.7em;">We partner with non-public schools in Chicago to implement blended learning solutions that effectively improve academic performance in struggling students. </h1>
		
	</section>	
	<section>
		<img class="squitem" src="./stylesheets/classR.jpg" alt="Logo" width="400" height="400">
			<h1 style = "text-align: center; font-size: 1.7em;">Our mission is to help create more equitable learning opportunities for students by empowering educators and helping students reach their maximum potential socially, emotionally and academically. </h1>
<a class="gotopbtn" href="#"> <i class="arrow circle up">up</i> </a>		
	
	</section>	

	</div> 
	
	
	
 

 <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <!-- <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Contact Us</a>
            <a href="#" class="item">Religious Ceremonies</a>
            <a href="#" class="item">Gazebo Plans</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Banana Pre-Order</a>
            <a href="#" class="item">DNA FAQ</a>
            <a href="#" class="item">How To Access</a>
            <a href="#" class="item">Favorite X-Men</a>
          </div>
        </div> -->
        <div class="seven wide column">
          <h4 class="ui inverted header">Innovative Scholars ScholarBucks Store</h4>
          <img src="./stylesheets/InnoSchwhite.png" alt="Logo" width="200" height="49">
			<img src="./stylesheets/CPS logo.png" alt="Logo" width="75" height="72">
			  
        </div>
      </div>
	
    </div>
  


 	 <script> 
     $(document).ready(function(){
          $('.ui.dropdown') .dropdown();
    });
    </script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.semanticui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
<script>
$(document).ready(function() {
    $('#studenttable').DataTable();
} );
</script>



</body>
</html>