<% include ./partials/studentheader %>
<body class = "ui container">
	<h4 style="margin-top: 100px">
		Thank you for placing your order. Please allow 4-6 weeks for prizes to be ready for pick-up or delivered. Keep growing your brain and always try your best! Please remember to log out if you are done!
	</h4>
</body>
</html>