<html>
	<head>
		<title>ScholarBucks App</title>
		<link rel = "stylesheet" type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel = "stylesheet" type = "text/css" href = "/stylesheets/app.css">
		</head>
	<body style = "background: #68C651;">
		<div class = "ui fixed inverted menu">
			<div class = "ui container">
				<div class = "header item"><i class="lightbulb outline icon"></i>ScholarBucks Store</div>
				<a href="/" class="item">Home</a>

</div>
			</div>

<!-- <html>
	<head>
		<title>ScholarBucks App</title>
		<link rel = "stylesheet" type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel = "stylesheet" type = "text/css" href = "./stylesheets/app.css">
		</head>
</html> 
 <body> -->
		<div class="ui raised very padded text container segment">
		<div class="ui placeholder segment">
			<h1 style = "text-align: center";>
				Registration Sign Up Here
			</h1>
  <!-- <div class="ui two column very relaxed stackable grid">
    <div class="column"> -->
		<div class="ui form">
			<form action = "/register" method = "POST">
				<div class="field">
					 <label>First Name</label>
					<input type="text" name="firstname" placeholder="First Name">
					
				</div>
				<div class="field">
					 <label>Last Name</label>
					<input type="text" name="lastname" placeholder="Last Name">
					
				</div>
				<div class="field">
          <label>Username</label>
          <!-- <div class="ui left icon input"> -->
			   
            <input type="text" name="username" placeholder="Username">
			   <!-- <i class="user icon"></i> -->
          <!-- </div> -->
        </div>
        <div class="field">
          <label>Password</label>
          <!-- <div class="ui left icon input"> -->
              <input type="password" name="password" placeholder="Password">
            <!-- <i class="lock icon"></i> -->
			    <!-- </div> -->
        </div>
				
		<div class="field">
          <label>Account Type</label>
          <!-- <div class="ui left icon input"> -->
              <select name="accounttype">
			  <option value="teacher">Teacher</option>
			  <option value="admin">Admin</option>
			</select>
            <!-- <i class="lock icon"></i> -->
			    <!-- </div> -->
        </div>
        
			  <button class="ui blue big button" type="submit">Register</button>
		  </form>





