<html>
	<head>
		<title>ScholarBucks App</title>
		<link rel = "stylesheet" type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
		<link rel = "stylesheet" type = "text/css" href = "./stylesheets/app.css"/>
		</head>
 <body>
		<div class="ui raised very padded text container segment">
				<h1>Reset Password</h1>
			<form action="/resetPassword" method="POST">
				<input required type="password" class="form-control" placeholder="password" name="password1"/>
			<br><input required type="password" class="form-control" placeholder="confirm password" name="password2"/>
			<input name="code" value="<%= code%>" style="display: none"/>
				<br><br><button type="submit">
					Submit
				</button>
			</form>
			<% if (message === 'Passwords do not match!') {%>
			<p>
				Passwords do not match!
			</p>
			<%}%>
			<% if (message === 'Password has been reset!') {%>
			<p>
				Your Password has been reset!
			</p>
			<%}%>
	 </div>

	 <script>

	 </script>
			</body>
		</html> 
		
		
		
		
		
		
