<html>
	<head>
		<title>ScholarBucks App</title>
		<link rel = "stylesheet" type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel = "stylesheet" type = "text/css" href = "stylesheets/nuapp.css">
		<link rel = "stylesheet" type = "text/css" href = "stylesheets/inno.scss">
		<link href="https://fonts.googleapis.com/css?family=Irish+Grover&display=swap" rel="stylesheet">
		<style>
@import url('https://fonts.googleapis.com/css?family=Glass+Antiqua|Gruppo|Happy+Monkey|Irish+Grover|Monofett|Raleway|Sulphur+Point:300&display=swap');
</style>
	
		</head>
</html>
<body>
	

<!-- Following Menu -->
<div class="ui large top fixed menu">
  <div id = "logospace" class="ui container">
	
		  <img src="./stylesheets/InnovativeLogo.png" alt="Logo" width="350" height="84">
		  
   
  
     <div class="right menu">
		  <a href = "/"  class="item">Home</a>
	   <div class="ui simple dropdown link item">
    	<span class="text">About</span>
   	    <i class="dropdown icon"></i>
    <div class="menu">
    <a href = "/innovativescholars"  class="item">Innovative Scholars</a>
    <a href = "/scholarbuckspage"  class="item">ScholarBucks Store</a>
    <a href = "/resources"  class="item">Resources</a>
     
    </div>
  </div>
 
</div>
	  
		
		
      
        <a href="/login" class="item">Log in</a>
		 
     
     
        <a href="/register" class="item">Sign Up</a>
     
    </div>
  </div>
	
		<!-- second section SECTION -->
	
	  <div id = "two" class="ui container">
	
	 
	<section>
		<img class="squitem" src="./stylesheets/resourceHead.jpg" alt="Logo" width="400" height="400">
		<h1 style = "text-align: center; font-size: 1.7em;"><span style = "font-size: 2.5em;">Growth Mindset Resources</span><br><br>Bring the growth mindset home through these resources</h1>
		
	</section>	
	<section>
		<!-- <img class="squitem" src="./stylesheets/kids.jpg" alt="Logo" width="400" height="400">
		<h1 style = "text-align: center; font-size: 1.7em;">We partner with non-public schools in Chicago to implement blended learning solutions that effectively improve academic performance in struggling students. </h1> -->
		<ol style = "font-size:2.0em; line-height:2.5em; ">
			
		
	<li>	What is Growth Mindset: <a href = "https://www.mindsetkit.org/topics/about-growth-mindset/what-is-growth-mindset" target="_blank" class = "resolink">MindsetKit.org</a></li>
		
	<li>	Decades of Scientific Research that Started a Growth Mindset Revolution: <a href = "https://www.mindsetworks.com/science/" target="_blank" class = "resolink">MindsetWorks.com</a></li>
			
	<li>A book:  <a href = "https://www.amazon.com/Mindset-Psychology-Carol-S-Dweck/dp/0345472322" target="_blank" class = "resolink"> Mindset: The New Psychology of Success by Carol Dweck</a> This is THE book about a growth mindset. Carol Dweck is a Professor of Psychology at Stanford University and a pioneering researcher in the field of motivation and why people succeed (or don't).</li>	
			
	<li>A One-Page "Parent's Guide to a Growth Mindset": <a href = "https://biglifejournal.com/pages/freebies" target="_blank" class = "resolink">BigLifeJournal.com</a></li>
			
	<li>An Online Course: Growth Mindset for Parents <a href = "https://www.mindsetkit.org/growth-mindset-parents" target="_blank" class = "resolink">MindsetKit.org</a></li>
		</ol>
	</section>	
	
	
	
	
 <div id = "secondreso" class="ui inverted vertical masthead center aligned segment"> 
	<div class="ui text container">
		 <!-- <img src="stylesheets/InnovativeLogo.png" alt="Logo" width="200" height="49"> -->
		<h1 id = "secondtext" style="text-align:center; font-size: 4em">Growth Mindset</h1>
      <p id = "secondtext"class="ui inverted header">
		  
"You are in charge of your mind. You can help it grow by using it the <b>right</b> way."
      </p>
     
    </div>

  </div>
	
	
	
	

<!-- VIDEO SECTION -->


  <!-- <div id = "videoblock" class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div  class="column">
          <h3 class = "videotext" style = "color: #2085D0;">Sesame Street: Janelle Monae - Power of Yet</h3>
         
<iframe width="560" height="315" src="https://www.youtube.com/embed/XLeUvZvuvAs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
        <div class="column">
			  <h3 class = "videotext" style = "color: #2085D0;">C.J. Luckey The Power of Yet</h3>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/J6CnrFvY94E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div> -->

	
	<!-- third section SECTION -->



 <div id = "third" class="ui inverted vertical masthead center aligned segment"> 
	<div class="ui text container">
		 <!-- <img src="stylesheets/InnovativeLogo.png" alt="Logo" width="200" height="49"> -->
     
    </div>

  </div>
	
	
	
	<!-- FOOTER -->
	
	 <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <!-- <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Contact Us</a>
            <a href="#" class="item">Religious Ceremonies</a>
            <a href="#" class="item">Gazebo Plans</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Banana Pre-Order</a>
            <a href="#" class="item">DNA FAQ</a>
            <a href="#" class="item">How To Access</a>
            <a href="#" class="item">Favorite X-Men</a>
          </div>
        </div> -->
        <div class="seven wide column">
          <h4 class="ui inverted header">Innovative Scholars ScholarBucks Store</h4>
          <img src="./stylesheets/InnoSchwhite.png" alt="Logo" width="200" height="49">
			<img src="./stylesheets/CPS logo.png" alt="Logo" width="75" height="72">
        </div>
      </div>
    </div>
  </div>


 	 <script> 
     $(document).ready(function(){
          $('.ui.dropdown') .dropdown();
    });
    </script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.semanticui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
<script>
$(document).ready(function() {
    $('#studenttable').DataTable();
} );
</script>


 <a class="gotopbtn" href="#"> <i class="arrow circle up">up</i> </a>
</body>
</html>