<html>
	<head>
		<title>ScholarBucks App</title>
		<link rel = "stylesheet" type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<!-- <link rel = "stylesheet" type = "text/css" href = "stylesheets/nuapp.css"> -->
		<link rel = "stylesheet" type = "text/css" href = "stylesheets/scholarb.scss">
		<link href="https://fonts.googleapis.com/css?family=Irish+Grover&display=swap" rel="stylesheet">
		<style>
@import url('https://fonts.googleapis.com/css?family=Glass+Antiqua|Gruppo|Happy+Monkey|Irish+Grover|Monofett|Raleway|Sulphur+Point:300&display=swap');
</style>
	
		</head>
</html>
<body>
	

<!-- Following Menu -->
<div class="ui large top fixed menu">
  <div id = "logospace" class="ui container">
	
		  <img src="./stylesheets/InnovativeLogo.png" alt="Logo" width="350" height="84">
		  
   
  
     <div class="right menu">
		  <a href = "/"  class="item">Home</a>
	   <div class="ui simple dropdown link item">
    	<span class="text">About</span>
   	    <i class="dropdown icon"></i>
    <div class="menu">
    <a href = "/innovativescholars"  class="item">Innovative Scholars</a>
    <a href = "/scholarbuckspage"  class="item">ScholarBucks Store</a>
    <a href = "/resources"  class="item">Resources</a>
     
    </div>
  </div>
 
</div>
	  
		
		
      
        <a href="/login" class="item">Log in</a>
		 
     
     
        <a href="/register" class="item">Sign Up</a>
     
    </div>
  </div>
	
	
	
	  <div id = "two" class="ui container">
	
	 
	<section>
		<img class="squitem" src="./stylesheets/StoreSquareblu.jpg" alt="Logo" >
		<h1>The ScholarBucks Store</h1>
		<p>
			Why the ScholarBucks Store?
		</p>
		
	</section>	
	<section>
		
			<p>Started in 2019, the Innovative Scholars Scholarbucks Online Store is a shopping program to reward and recognize current students who have worked hard towards a growth mindset. Our staff is teaching the students that in order to succeed and improve their academic performance in school, they must have a growth mindset. In order to get better at a growth mindset, students need to practice the skills they learn at school in-home through the online programs as well. The more they demonstrate that they have a growth mindset, the more Scholarbucks they can earn. At the end of each semester (Winter and Spring), students will have the opportunity to "shop" for the various prizes based on their Scholarbucks budget. The positive features of this program are:</p>
		
		<ul>
			
		
	<li>Life skills - students learn that in continuously working hard and trying their best, they get rewarded. They also practice decision-making based on their preferences and get introduced to financial management as well.</li>
		
	<li>Math skills - students will be able to further their math skills through working with Scholarbucks (play money) and figuring out how much they have to spend and what they are able to order.</li>
			
	<li>Going green - by providing an online catalogue, Innovative Scholars is helping to save tree and the environment while staying with the theme of blended learning</li>	
		</ul>
     <p>PRIZES<br>
Prizes are appropriate for school-aged children from K - 8th grade. Many have educational or entertainment value. Prizes will vary in styles, color, and brand. Limited availability for some prizes. Students are responsible for reading the description of the prizes before placing their order.<br><br>

Prizes are put in three categories:</p>
		<ul>
			
		
	<li>Small - Must have at least 5 Scholarbucks to shop</li>
		
	<li>Medium - Must have at least 25 Scholarbucks to shop</li>
			
	<li>Large - Must have at least 150 Scholarbucks to shop</li>	
		</ul>
			<!-- </div> -->



		
		
	</section>	
	  </div>
	<div id = "secondreso" class="ui inverted vertical masthead center aligned segment"> 
	<div class="ui text container">
		 <!-- <img src="stylesheets/InnovativeLogo.png" alt="Logo" width="200" height="49"> -->
		<h1 id = "secondtext" style="text-align:center; font-size: 4em">Growth Mindset</h1>
      <p id = "secondtext"class="ui inverted header">
		  
<em>"You are in charge of your mind. <br>You can help it grow by using it the <b><u>
	
	right</u></b> way."</em>
      </p>
     
    </div>

  </div>


<!-- VIDEO SECTION -->


  <!-- <div id = "videoblock" class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div  class="column">
          <h3 class = "videotext" style = "color: #2085D0;">Sesame Street: Janelle Monae - Power of Yet</h3>
         
<iframe width="560" height="315" src="https://www.youtube.com/embed/XLeUvZvuvAs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
        <div class="column">
			  <h3 class = "videotext" style = "color: #2085D0;">C.J. Luckey The Power of Yet</h3>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/J6CnrFvY94E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div> -->

	
	<!-- third section SECTION -->



 <!-- <div id = "third" class="ui inverted vertical masthead center aligned segment"> 
	<div class="ui text container">
		 <!-- <img src="stylesheets/InnovativeLogo.png" alt="Logo" width="200" height="49"> -->
     
    <!-- </div> -->

  <!-- </div>  -->
	
	
	
	<!-- FOOTER -->
	
		 <div class="ui inverted vertical footer segment">
    <div class="ui container">
		
		<div class="ui grid">
  <div class="three column row">
    
    <div class="column" style = "text-align:left"><img src="./stylesheets/InnoSchwhite.png" alt="Logo" width="200" height="49"></div>
	  <div class="column" style = "text-align:center"></div>
    <div class="column" style = "text-align:right"><img src="./stylesheets/CPS logo.png" alt="Logo" width="75" height="72"></div>
  </div>
			
			<div class="three column row">
    
    <div class="column" style = "text-align:left"></div>
	  <div class="column" style = "text-align:center">Innovative Scholars ScholarBucks Store &copy; 2020</div>
    <div class="column" style = "text-align:right"></div>
  </div>
	
      </div>
    </div>
  </div>
	
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.semanticui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
<script>
$(document).ready(function() {
    $('#studenttable').DataTable();
} );
</script>


 <a class="gotopbtn" href="#"> <i class="arrow circle up">up</i> </a>
</body>
</html>