<% include ./partials/studentheader %>

	<body >
		<div class = "ui container">
			<div id = "storegraphtop"></div>
			<div class = "storetext">
				<h1 class = "storetext">
			Hello <%=firstname%>!
		</h1>
		
				
				
				<h4 class = "lowerstoretext">
			You have 
			<% if (totalpts === '') { %>
				0
				<%} else { %>
				<%=totalpts%>
				<% } %>
			points!
		</h4>
				
		<a style = "margin-top:20px;" class="ui big ui blue button" href="/shop">Start Shopping</a>
			</div>
		<div id = "storegraph"></div>
		</div>
	</body>
</html>