
/* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {
  
}

/* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {
 
} 

/* Large devices (laptops/desktops, 920px and up) */
// @media only screen and (min-width: 2800px) {
//     .squitem{
	
// 	width:700px;
// 	height:700px;
// }
// } 

/* Extra large devices (large laptops and desktops, 2000x and up) */






body{
	margin: 0 auto;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
}

section {
	padding: 7em;
	height: calc(100vh);
	 color: white;
	scroll-snap-align: start;
	max-height: 1000px;
	
	

}
	section:nth-of-type(1) {
		background: #91C848;
		padding-top: 100px;
		
	}	
	section:nth-of-type(2) {
		background: #2185D1;
		
	}	
	section:nth-of-type(3) {
		background: #D12F3F;
		
		
	}	

.squitem{
	background: white;
	width:400px;
	height:400px;
	
	border-radius: 50%;
	
	display: block;
  margin-left: auto;
  margin-right: auto;
	margin-top: 50px;
	
	
}
#logospace{
	
	// Width:100%;
	padding-top: 20px;
	padding-bottom: 20px;
	
	
}

#two{
	
	Width:100%;
}

@media only screen and (min-width: 1800px) {
  .squitem{
	
	width:700px;
	height:700px;
}

	.toplogo{
		margin-left: 100px;
		
	}
	
	.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background: #2085D0;
  bottom: 40px;
  right: 50px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}


