h1 {
  font-size: 5.9vw;
}
h2 {
  font-size: 3.0vh;
}
p {
  font-size: 2vmin;
}
li{
	font-size: 2vmin;
	
}


section {
	padding: 7em;
	
	 color: white;
	scroll-snap-align: start;
	
	
	

}
	section:nth-of-type(1) {
		background: #91C848;
		padding-top: 100px;
		
		height: calc(100vh);
		
		
		
	}	
	section:nth-of-type(2) {
		background: #2185D1;
		// scroll-snap-align: start;
		// height: calc(100vh);
		// max-height: 100vh;
		font-size: 1.5em; 
		line-height:1.5em; 
		text-align: left;
		width: 100%;
		color: white;
		
	}	


#logospace{
	
	// Width:100%;
	padding-top: 20px;
	padding-bottom: 20px;
	
	
}


#two{
	
	Width:100%;
}


.squitem{
	background: white;
	width:100px;
	height:100px;
	
	border-radius: 50%;
	
	display: block;
  margin-left: auto;
  margin-right: auto;
	margin-top: 50px;
	
	
}

.ui invertedvertical footer segment{
	// height: calc(10vh);
	
}	
		
	

	.toplogo{
		margin-left: 100px;
		
	}
	
	.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background: #2085D0;
  bottom: 40px;
  right: 50px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}









@media only screen
	and (min-device-width : 2551px) 
    {
   		
	   .squitem{
			width:875px;
			height:875px;
		}
		
		section:nth-of-type(1) {
			background: #91C848;
			padding-top: 150px;
			height: calc(100vh);
		}	
		
		section:nth-of-type(2){
			padding: 3em 35em 4em 35em;
			
			color: white;
			
			
		
		}
		
		
	}







@media only screen 
  and (min-device-width: 1025px) 
  and (max-device-width: 2550px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (min-resolution: 192dpi) 
{
		
		.squitem{
			width:450px;
			height:450px;
		}
		
		
		section:nth-of-type(1) {
			background: #91C848;
			padding-top: 100px;
			height: calc(100vh);
		}	
		
	  	section:nth-of-type(2) {
			height: calc(100vh);
			min-height: 1050px;
			
			padding:2em 15em 1em 15em;
			color: white;
		
		}
		p {
  			font-size: 3vmin;
		}
		li{
			font-size: 3vmin;
	
		}
		
}



@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
 {  
   
	   	.squitem{
			width:275px;
			height:275px;
		}
}
	




@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) { 
		
		.textsection{
			padding:0 2em 0 2em;
			color: white;
			
			
		}
		
		.squitem{
			width:275px;
			height:275px;
		}
		
		p {
  			font-size: 3vmin;
			text-align: justify;
		}
		
		ul{
			font-size: 3vmin;
			line-height: 1.5em;
		}
		
	

}


